<%- include('./partials/header') %>

<div class="welcome-page">
    <main>
        <h1>Welcome to the Thirsty Mongoose!</h1>
        <p>Please select "All Bars on the navigation menu to see a list of bars or add a bar to the list below.</p>
        <p>Please select "All Beers" to see a list of available beers or add a new beer to the list below.</p>
        <button><a href="/bars/new">ADD A BAR</a></button>
        <button><a href="/beers/new">ADD A BEER</a></button>
    </main>
</div>

<%- include('./partials/footer') %>