<%- include('./partials/header') %>

<div class="welcome-page">
    <main>
        <h1>Welcome to the Thirsty Mongoose!</h1>
        <p>Please select bars to see a list of bars or add a bar to the list.</p>
        <p>Please select beers to see a list of available beers.</p>
    </main>
</div>

<%- include('./partials/footer') %>