<%- include('../partials/header') %>

<div class="bars-new-page">
    <main>
        <h1>Add a new Bar</h1>
        <form method="POST" action="/bars">
            <input type="text" name="name" placeholder="Bar name">
            <br><br>
            <input type="text" name="location" placeholder="Bar location">
            <br><br>
            <input class="button" type="submit" value="ADD BAR">
        </form>
    </main>
</div>

<%- include('../partials/footer') %>